<!doctype html>
<html>
   <head>
      <title>Change brightness</title>
      <link rel="stylesheet" href="css/style.css"/>
      <script src="js/jquery-2.2.4.min.js"></script>
      <style>
         .button {
             color: white; padding: 15px 32px; text-align: center;
             background-color: #85e62b; border-radius: 15px; 
             text-decoration: none; display: inline-block; font-size: 22px;
         }
      </style>
   </head>

   <body>
     <div id="wrapper">
        <h2> Click the button to turn off the light </h2>
        <button class="button" id="off">OFF</button>
        <h2>Click the button to turn on the light </h2>
        <button class="button" id="on">ON</button>
     </div>

     <script src="./js/change.js"></script>
   </body>
</html>
